/digit_combinations_results.txt
/leading_digit_combinations_results.txt
/results_Process-1.txt
/results_Process-2.txt
/results_Process-3.txt
/results_Process-4.txt
/three_word_combinations_results.txt
/trailing_digit_combinations_results.txt
/two_word_combinations_results.txt
/two_word_leading_digit_results.txt
/two_word_trailing_digit_results.txt
/word_combinations_results.txt